/* ==========================================================================
   Theme
   ========================================================================== */

/* Navbar
   -------------------------------------------------------------------------- */

.navbar-fixed-top {
	position: static;
}

.navbar .brand {
	color: #4bf;
}

.navbar .brand:hover {
	color: #4df;
}

.navbar-inverse .navbar-inner {
	background: #222;
	border-bottom: 1px solid #000;
	padding: 10px 0;
}

.navbar-inverse .nav > li > a {
	color: #aaa;
	font-weight: bold;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
	background-color: #111;
	border-radius: 3px;
}

@media (max-width: 979px) {
	.navbar-fixed-top {
		margin-bottom: 0;
	}

	.navbar-inverse .navbar-inner {
		padding: 5px;
	}

	.nav-collapse .dropdown-menu:before,
	.nav-collapse .dropdown-menu:after {
		border: 0 none !important;
	}
}

/* Sub-header
   -------------------------------------------------------------------------- */

.subheader .inner {
	background: #08c;
	border-top: 1px solid #3af;
	border-bottom: 1px solid #04a;
	padding: 5px 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}

.subheader h1 {
	font-size: 22px;
	font-weight: normal;
	color: #eee;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.subheader .controls {
	float: right;
	margin: 10px 0 10px 10px;
	line-height: 40px;
}

@media (max-width: 767px) {
	.subheader {
		margin-right: -20px;
		margin-left: -20px;
	}
}

@media (max-width: 979px) {
	.subheader .inner {
		padding-left: 10px;
		padding-right: 10px;
	}

	.subheader .container {
		width: auto;
	}
}

/* Content container
   -------------------------------------------------------------------------- */

.content .inner {
	padding: 20px 0 0;
}

/* Forms
   -------------------------------------------------------------------------- */

legend {
	margin-bottom: 5px;
}

.form-horizontal .help-block {
	margin-top: 4px;
}

@media (max-width: 767px) {
	.controls-row [class*="span"] + [class*="span"] {
		margin: 5px 0 0;
	}
}

/* ==========================================================================
   Routes
   ========================================================================== */

/* Shared definitions
   -------------------------------------------------------------------------- */

.arrow,
.dash {
	display: inline-block;
	font-weight: normal;
	color: #04f;
}

.arrow {
	font-size: 26px;
}

.dash {
	font-size: 20px;
	padding: 0 2px;
}

.route {
	text-decoration: none;
	color: #333;
	line-height: 30px;
}

.route .description,
.route .description .date,
.route .description .path,
.route .info {
	display: block;
}

.route .date {
	font-weight: 200;
	font-size: 18px;
}

.route .date,
.route .path,
.route .arrow,
.route .dash {
	height: 26px;
}

.route .info .seats,
.route .info .owner {
	display: block;
	width: 50%;
}

@media (max-width: 767px) {
	.route .info .seats {
		float: right;
		text-align: right;
	}

	.route .info .owner {
		float: left;
		text-align: left;
	}
}

@media (min-width: 768px) {
	.route .description,
	.route .info {
		float: left;
	}

	.route .description {
		width: 65%
	}

	.route .info {
		width: 35%
	}

	.route .info .seats,
	.route .info .owner {
		float: left;
		text-align: center;
	}

	.route .info .seats span {
		display: block;
		font-size: 24px;
		font-weight: bold;
	}
}

/* View
   -------------------------------------------------------------------------- */

#view-route .like + .like {
	margin-top: 4px;
}

#view-route .like img {
	margin-right: 4px;
}

#view-route .like + .co2 {
	margin-top: 20px;
}

#view-route .co2 p {
	background: url(../img/leaf.png) no-repeat;
	padding-left: 35px;
	margin-bottom: 15px;
	height: 40px;
	line-height: 40px;
}

#view-route .origin .address,
#view-route .destination .address {
	background-position: 0 center;
	background-repeat: no-repeat;
	padding-left: 35px;
}

#view-route .origin .address {
	background-image: url(../img/marker-red.png);
}

#view-route .destination .address {
	background-image: url(../img/marker-blue.png);
}

#view-route .address address {
	font-size: 18px;
}

@media (max-width: 767px) {
	#view-route .info .seats,
	#view-route .info .owner {
		padding: 20px 0 10px;
		line-height: 40px;
	}

	#view-route .info .owner .btn {
		margin: 6px 8px 0 0;
		float: left;
	}
}

@media (min-width: 768px) {
	#view-route .route {
		margin-bottom: 10px;
	}

	#view-route .route .info .owner > span {
		display: block;
	}
}

/* Edition controls
   -------------------------------------------------------------------------- */

.controls .edit,
.controls.edition .cancel {
	display: inline-block;
}

.controls.edition .edit,
.controls .cancel {
	display: none;
}

#route-list .edition .route {
	padding: 12px 8px 12px 52px;
}

#route-list .route .btn.view,
#route-list .edition .route .btn.delete {
	display: inline-block;
}

#route-list .route .btn.delete,
#route-list .edition .route .btn.view {
	display: none;
}

/* List
   -------------------------------------------------------------------------- */

#route-list .list {
	padding: 1px 0 0;
	overflow: hidden;
}

#route-list .route {
	position: relative;
	display: block;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	margin-top: -1px;
	padding: 12px 52px 12px 8px;
	text-decoration: none;
}

#route-list .route:hover,
#route-list .route:active {
	background: #f7f7f7;
}

#route-list .route .btn.view,
#route-list .route .btn.delete {
	position: absolute;
	margin-top: -13px;
	top: 50%;
}

#route-list .route .btn.view {
	right: 8px;
}

#route-list .route .btn.delete {
	left: 8px;
}

/* ==========================================================================
   Statistics
   ========================================================================== */

#admin-stats .category {
	display: inline-block;
	margin: 0 15px 0 60px;
	vertical-align: middle;
	font-size: 12px;
	font-weight: bold;
	color: #555;
}