/* ==========================================================================
   Theme
   ========================================================================== */

/* Navbar
   -------------------------------------------------------------------------- */

.navbar-fixed-top {
	position: static;
}

.navbar .brand {
	color: #4bf;
}

.navbar .brand:hover {
	color: #4df;
}

.navbar-inverse .navbar-inner {
	background: #222;
	border-bottom: 1px solid #000;
	padding: 10px 0;
}

.navbar-inverse .nav > li > a {
	color: #aaa;
	font-weight: bold;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
	background-color: #111;
	border-radius: 3px;
}

@media (max-width: 979px) {
	.navbar-fixed-top {
		margin-bottom: 0;
	}

	.navbar-inverse .navbar-inner {
		padding: 5px;
	}
}

/* Sub-header
   -------------------------------------------------------------------------- */

.subheader .inner {
	background: #08c;
	border-top: 1px solid #3af;
	border-bottom: 1px solid #04a;
	padding: 5px 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}

.subheader h1 {
	font-size: 22px;
	font-weight: normal;
	color: #eee;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

@media (max-width: 767px) {
	.subheader {
		margin-right: -20px;
		margin-left: -20px;
	}
}

@media (max-width: 979px) {
	.subheader .inner {
		padding-left: 10px;
		padding-right: 10px;
	}

	.subheader .container {
		width: auto;
	}
}

/* Content container
   -------------------------------------------------------------------------- */

.content .inner {
	padding: 20px 0 0;
}

/* Forms
   -------------------------------------------------------------------------- */

legend {
	margin-bottom: 15px;
}

.form-horizontal .help-block {
	margin-top: 4px;
}

@media (max-width: 480px) {
	.form-horizontal .control-group > label::after {
		content: " :";
	}
}

/* ==========================================================================
   My account
   ========================================================================== */

#customerForm label {
	font-weight: bold;
}

/* ==========================================================================
   Routes
   ========================================================================== */

/* Edition controls
   -------------------------------------------------------------------------- */

#route-list .controls {
	padding: 5px 0;
}

#route-list .controls button {
	float: right;
}

#route-list .controls .edit,
#route-list.edition .controls .cancel {
	display: block;
}

#route-list .controls .cancel,
#route-list.edition .controls .edit {
	display: none;
}

#route-list.edition .route {
	background-image: url(../img/minus-circle-frame.png);
	background-position: 40px center;
	background-repeat: no-repeat;
}

/* List
   -------------------------------------------------------------------------- */

#route-list .list {
	padding: 1px 0 0;
	overflow: hidden;
}

/* Row
   -------------------------------------------------------------------------- */

#route-list .route {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	margin-top: -1px;
	padding: 12px 0;
}

#route-list .route > div > div {
	line-height: 30px;
}

#route-list .route .owner,
#route-list .route .info {
	text-align: center;
}

#route-list .route .date {
	font-weight: 200;
	font-size: 18px;
}

#route-list .route .date,
#route-list .route .path,
#route-list .route .arrow,
#route-list .route .dash {
	height: 26px;
}

#route-list .route .arrow {
	display: inline-block;
	font-size: 26px;
	font-weight: normal;
	color: #04f;
}

#route-list .route .dash {
	display: inline-block;
	font-size: 20px;
	font-weight: normal;
	color: #04f;
	padding: 0 2px;
}

#route-list .route .seats span {
	display: block;
	font-size: 24px;
	font-weight: bold;
}