# Ignore Maven target directory
target/

# Ignore Eclipse files
.settings/
.classpath
.project

# Ignore project configuration
src/main/resources/config.properties

# Ignore generated data fixtures
src/test/resources/stat-data.sql

